# python support files
**/__pycache__/*
**/*.pyc
.coverage

# ignore latex intermediate files
documentation/*.aux
documentation/*.log
documentation/*.out
documentation/*.gz
documentation/*.toc
documentation/*.pdf
documentation/*.fls
documentation/*.fdb_latexmk

# ignore python virtual environment
.venv/*

# ignore ide configuration
.vscode/*

# psychopy artifacts
**/.iohpid

# other misc files
**log.txt

# log, info and result files
**/log-*.txt
**.info
**.csv
urge_monitor/logs/demo_visuals/log-2020-11-05 21
urge_monitor/logs/TEC4Tic/log-2020-11-05 21
urge_monitor/logs/urge_fmri/log-2020-11-05 21
